@media (prefers-color-scheme: light) {
   :root {
    --background_image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --button-color: #353430;
    --title-color: #FFC2E6;
    --button-color-rgb: 53, 52, 48;
    --section-title-color: var(--text-color);
    --text-color: #353430;
    --card-title-color: #353430;
  }

  .decorative-element {
    display: none;
  }
}

:root.theme-light {
    --background_image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --button-color: #353430;
    --title-color: #FFC2E6;
    --button-color-rgb: 53, 52, 48;
    --section-title-color: var(--text-color);
    --text-color: #353430;
    --card-title-color: #353430;
  }

.theme-light .decorative-element {
    display: none;
  }